body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh; /* or simply use height:100% with body and html */
}

/* unvisited link */
a:link {
  color: #2D90B5;
}

/* visited link */
a:visited {
  color: #2D90B5;
}

/* mouse over link */
a:hover {
  color: grey;
}

/* selected link */
a:active {
  color: blue;
}

h3 {
	color: rgb(0,186,253);
}

#frame {
	border: none;
	width: 100%;
}

#first_image_container {
	width: 100%;
	height: calc( 100px + 20vw );
	padding: 0;
	position: relative;
	background-size: 100% 100%;
	color: white;
}

#first_image_background {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	/*background: linear-gradient(180deg, rgb(16, 16, 16, 0.7), 5%, transparent);*/
	color: white;
}

#first_image_text {
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -100%);
	font-size: calc(30px + 1.8vw); 
	font-family:'Tahoma'; 
	user-select: none;
	text-align: center;
	color: rgb(0,186,253);
}

#body_content {
	position: relative;
	float: left;
	left: 50%;
	width: calc(100px + 50vw);
	transform: translate(-50%, 0%);
	text-align: justify;
	text-justify: inter-word;
	font-family:'Tahoma'; 
	font-size: 20px; 
	background-color: black;
	color: white;
}

.image_content {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.box {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-flow: column;
}

.box .row {
	
}

.box .row.header {
	text-align: center;
	flex: 0 1 auto;
	background-color: black;
}

.box .row.content {
	flex: 1 1 auto;
	height: 100%;
	overflow: auto;
	padding: 0px;
	background-color: black;
}

.boton {
	display: inline-block; 
	margin: 0 auto; 
	padding-left: 4px; 
	padding-right: 4px; 
	padding-top: 10px; 
	padding-bottom: 10px; 
	background-color: black; 
	color: white;
	font-size: calc(10px + 1.2vh); 
	font-family:'Tahoma'; 
	user-select: none;
	transition-duration: 0.4s;
}

.boton:hover {
	background-color: grey; 
}